#contact {
  opacity: 0;
  background-color: white;
  height: 5%;
  width: 5%;
  z-index: -1;
  position: absolute;
  top: 70%;
  left: 75%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  overflow: hidden;
  font-size: 1.2rem;
  transition-duration: 1s;
}
#contact-open {
  opacity: 1;
  background-color: white;
  height: auto;
  width: 55vw;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  font-size: 1.2rem;
  transition-duration: 1s;
}
#contact-open-mobile {
  opacity: 1;
  background-color: white;
  height: auto;
  width: 95vw;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 1%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  font-size: 1.4rem;
  transition-duration: 1s;
}

.contact-header {
  color: white;
  text-shadow: -2px -2px 0 #7fc926, 2px -2px 0 #7fc926, -2px 2px 0 #7fc926,
    2px 2px 0 #7fc926;
  font-size: 2.5rem;
  font-family: "Tomorrow", sans-serif;
  letter-spacing: 2px;
  padding: 2% 4% 4% 4%;
  border-bottom: #7fc926 solid 2px;
}
