#welcome {
  height: 100vh;
  width: 100vw;
  background-image: var(--landing-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text {
  color: white;
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 5px;
  line-height: 1.2em;
  font-family: "Tomorrow", sans-serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    2px 2px 0 black;
}

#welcome-mask {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  overflow: hidden;
}

#welcome-mask > * {
  background-color: black;
  color: white;
  height: 50px;
  width: 50px;
  transition-duration: 1s;
}
