#languages {
  opacity: 0;
  background-color: white;
  height: 5%;
  width: 5%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 75%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  overflow: hidden;
  transition-duration: 1s;
}
#languages-open {
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  z-index: 10; 
  opacity: 1; 
  transition-duration: 1s; 
  height: auto; 
  width: 55vw; 
  position: absolute; 
  top: 10%; 
  left: 20%;
}
#languages-open-mobile {
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  z-index: 10; 
  opacity: 1; 
  transition-duration: 1s; 
  height: auto; 
  width: 95vw; 
  position: absolute; 
  top: 20%; 
  left: 1%;
}

.languages-header {
  color: white;
  text-shadow: -2px -2px 0 #9E0031, 2px -2px 0 #9E0031, -2px 2px 0 #9E0031, 2px 2px 0 #9E0031;
  font-size: 2.5rem;
  font-family: 'Tomorrow', sans-serif;
  letter-spacing: 2px;
  padding: 2% 4% 4% 4%;
  border-bottom: #9E0031 solid 2px;
}

#languages p, #languages-open p, #languages-open-mobile p{
  /* padding: 1%;
  padding-left: 3%; */
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: rgba(158, 0, 50, 0.9);
  transform: rotate(-3deg);
  overflow: visible;
  border-radius: 5px;
  margin: 1%;
  padding: 2%;
}

.language-flex-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.language-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5%;
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.java-logo {
  background-image: url('../image/java_faint.png');
}
.ruby-logo {
  background-image: url('../image/ruby_logo_faint.png');
}
.js-logo {
  background-image: url('../image/js_logo_faint.png');
}
.css-logo {
  background-image: url('../image/css_logo_faint.png');
}
.html-logo {
  background-image: url('../image/html_logo_faint.png');
}
