.languages {
  grid-area: 6/2/7/3;
  transform: rotate(-5deg);}

.languages:hover {
  grid-area: 6/2/7/3;
  color: #9E0031;
  transition-duration: 1s;
  text-shadow: none;
}

#languages {
  opacity: 0;
  background-color: white;
  height: 5%;
  width: 5%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 75%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px black;
  padding: 1%;
  overflow: hidden;
}

.languages-header {
  color: white;
  text-shadow: -2px -2px 0 #9E0031, 2px -2px 0 #9E0031, -2px 2px 0 #9E0031, 2px 2px 0 #9E0031;
  font-size: 2.5rem;
  font-family: 'Tomorrow', sans-serif;
  letter-spacing: 2px;
  padding: 2% 4% 4% 4%;
  border-bottom: #9E0031 solid 2px;
}

#languages p {
  display: inline;
  padding: 1%;
  padding-left: 3%;
  font-size: 1.2rem;
}

.language-wrap {
  margin: 3% 0 3% 5%;
}

.logo-java {
  width: 6%;
}

.logo{
  width: 5%;
}
