#projects {
  opacity: 0;
  background-color: var(--bg);
  height: 5%;
  width: 5%;
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 75%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  overflow: hidden;
  transition-duration: 1s;
}
#projects-open {
  opacity: 1;
  background-color: var(--bg);
  height: 80vh;
  width: 60vw;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 18%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  overflow: hidden;
  transition-duration: 1s;
}

#projects-open-mobile {
  opacity: 1;
  background-color: var(--bg);
  height: auto;
  width: 95vw;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 1%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px black;
  padding: 1%;
  overflow: hidden;
  transition-duration: 1s;
  font-size: 1.5rem;
}

.projects-header {
  color: white;
  text-shadow: -2px -2px 0 #690375, 2px -2px 0 #690375, -2px 2px 0 #690375,
    2px 2px 0 #690375;
  font-size: 2.5rem;
  font-family: "Tomorrow", sans-serif;
  letter-spacing: 2px;
  padding: 2% 4% 4% 4%;
  border-bottom: #690375 solid 2px;
}

.projects-wrapper {
  margin: 3%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  overflow: contain;
  grid-row-gap: 1%;
  overflow: scroll;
  height: 70%;
}

.projects-wrapper a,
a:visited {
  margin: auto;
  text-decoration: none;
  color: black;
}

.landscape-project {
  width: 100%;
  border: solid black 2px;
  margin: auto;
}

.landscape-project:hover {
  width: 100%;
  border: solid #690375 2px;
  margin: auto;
}

.portrait-project {
  width: 40%;
  border: solid black 2px;
  margin: auto;
}

.portrait-project:hover {
  width: 40%;
  border: solid #690375 2px;
  margin: auto;
}

.main-gallery {
  margin-top: 5%;
  height: 60%;
}

.gallery-cell {
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 10px;
}

.gallery-cell p {
  padding: 2% 0;
}

.gallery-cell a {
  display: block;
  top: 40%;
  margin-left: 10%;
  margin-bottom: 1%;
  text-align: center;
  width: 80%;
  color: black;
  background-color: #cacaca80;
  border-radius: 10px;
}

.carousel-image {
  display: block;
  margin: 10px auto;
  width: 500px;
  border-radius: 10px;
  border: double black 1px;
}

.flickity-button-icon {
  color: #690375;
}

.flickity-viewport {
  height: 500px !important;
}
